* {
    background-color: #9dbdd7;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.mini-bio {
    margin-top: 60px;
    text-align: center;
    color: #000000;
}

.foto {
    width: 300px;
    height: auto;
    border-radius: 50%;
}


.mini-bio h1{
    width: 280px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 500;
}

.mini-bio p{
    width: 220px;
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: 400;
}

.redes-sociais{
    width: 300px;
}

a {
    text-decoration: none;
}

.botao {
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px 45px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ccc2b7;
    width: 300px;
    margin: 10px;
    font-size: 15px;
}